# This is a comment.
# Each line is a fle pattern followed by one or more owners. 
# The owners will be the default owners for contents in this repository. 
# Unless a later match takes precedence, 
# chenxcui@gmail will be requested for review when someone opens a pull request. 
